{% extends "base.html.twig" %}

{% block title "Vous n'avez pas le droit d'accéder à cette ressource" %}

{% block body %}
<div class="container">
    <h1>Alors ? Vous essayez de bousiller le site ?!</h1>
    
    <div class="alert alert-danger">
        Vous n'avez pas le droit d'accéder à cette ressource !
    </div>

    <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
</div>
{% endblock %}